.all-data {
  margin: 0 auto;
}

.all-data .data-li {
  text-align: center;
  line-height: 3em;
  color: black;
}

.li1 {
  background: #f0f0ee;
}

.li2 {
  background: #fafafa;
}

.li3 {
  background: #f0f0ee;
}

.tag-row {
  margin-top: 30px;
}

.tag-list {
  cursor: pointer;
  margin: 0 5px;
}

.addBtn {
  margin-left: 10px;
}
